@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", sans-serif;
  background-color: rgb(28, 28, 28);
  overflow: scroll;
  /*opacity: .5;*/
}
body::-webkit-scrollbar { 
  display: none;  
}
header {
  padding: 50px 15px 0px;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: none;
  background-color: #eee;
  border-radius: 8px;
  color: #53565a;
  font-size: 1.25rem;
  font-weight: 300;
  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0 0 8px 3px #4484c4;
}

/*design des cards des films après recherche*/

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.result {
  border-radius: 6px;
  width: 25%;
  padding: 10px;
  flex: initial;
  overflow: hidden;

}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
img:hover {
  border: 2px solid white;
}
.result h3 {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 20px;
  flex: 1 1 100%;
  transition: 0.5s;
  cursor: pointer;
}
.result:hover h3 {
  font-size:1.375rem;
    /* font-size-adjust: 20px; */
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(28, 28, 28);
  overflow-y: scroll;
}
.popup::-webkit-scrollbar { 
  display: none;  
}
.popup .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
}

.content h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.content h2 span {
  font-weight: 300;
  font-size: 1.25rem;
}


.plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 15px;
}
.plot2{
  max-width: 50%;
  margin: auto;
}
#rating {
  margin: 0 0 10px;
}

.plot img {
  flex: 1 1 50%;
  max-width: 300px;
  /*padding: 0px 15px;*/
}
.plot img:hover {
  border: 2px solid white;
  padding: 0 !important;
}

.plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.close {
  display: block;
  position: absolute;
  justify-content: flex-end;
  left: 90%;
  padding: 5px 10px;
  font-size: 1.25rem;
  font-weight: 700;
  background: #4484c4;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.close:hover {
  background: #223343;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .result {
    padding: 5px;
  }

  .result h3 {
    font-size: 50%;
    font-weight: 600;
    padding: 3px;
    margin: 0;
  }
}

@media only screen and (min-device-width: 350px) and (max-device-width: 667px) {
  header h1 {
    color: #fff;
    font-size: 1.875rem;
  }

  .result {
    padding: 5px;
  }

  .result h3 {
    font-size: 50%;
    font-weight: 600;
    padding: 3px;
    margin: 0;
  }
}
